# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user

# RStudio proyect
*.Rproj

# Ignore code.Rmd file in report_sources/ directory
report_sources/code.Rmd

# Ignore data.csv files in data/ directory
data/data_raw.csv
data/hc.csv